# Object Oriented Programing

- Class
- Instance
- Constructor
- Object
- Methods
- Attributes/Properties/fields
- Instance Variable
- Encupsolation
- Polymorphisim
- Inheritance
- Abstraction

# Classes

In [1]:
#define a class

In [2]:
class Car():
    #class holds attributes & functions
    ##############################################
    #attributes---->>> are variables in programing
    ##############################################
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.battery = "200 AMP"      #default attribute
    ##############################################
    #behavioures--->>> are functions in programing
    ##############################################
    def descriptionCar(self):
        print(f"The make of car is {self.make}")
        print(f"The model of car is {self.model}")
        print(f"The year of car is {self.year}")
    def move(self):
        print(f"{self.make} is moving with speed")
    def applyingBreak(self):
        print(f"{self.model} has applied the break")
    def desBattery(self):
        print(f"The battery of car is {self.battery}")

In [3]:
#how to create objects of class

In [4]:
car1 = Car("Honda", "Civic", 2019)

In [5]:
car2 = Car("Suzuki", "Cultus", 2015)

In [6]:
car1.make

'Honda'

In [7]:
car2.make

'Suzuki'

In [8]:
car2.descriptionCar()

The make of car is Suzuki
The model of car is Cultus
The year of car is 2015

In [9]:
car1.descriptionCar()

The make of car is Honda
The model of car is Civic
The year of car is 2019

In [10]:
#Changing an attributes values

In [11]:
car1.make = "Yamaha"

In [12]:
car1.make

'Yamaha'

In [13]:
car1.battery

'200 AMP'

In [14]:
car2.battery

'200 AMP'

In [15]:
car2.battery = "300 AMP"
car2.battery

'300 AMP'

In [16]:
class Employee:

  increment = 1.5
  no_of_employee = 0

  def __init__(self, fname, lname, salary):
    self.fname = fname
    self.lname = lname
    self.salary = salary
    Employee.no_of_employee +=1

  def increase(self):
    self.salary = int(self.salary * self.increment)

In [17]:
print(Employee.no_of_employee)
harry = Employee("Harry", "Jackson", 55000)
rohan = Employee("Rohan", "Dash", 65000)
print(Employee.no_of_employee)
yousuf = Employee("M. Yousuf", "Hanif", 52000)
print(Employee.no_of_employee)

print("Salary before increment ", harry.salary)
harry.increase()
print("Salary after increment ", harry.salary)

0
2
3
Salary before increment  55000
Salary after increment  82500

In [18]:
yousuf.increase()
print("Yousuf's salary after increment ", yousuf.salary)

Yousuf's salary after increment  78000

In [19]:
yousuf.salary

78000

In [20]:
yousuf.fname

'M. Yousuf'

In [21]:
yousuf.lname

'Hanif'

In [24]:
harry.increase()

In [25]:
harry.salary

123750

In [26]:
class Employee:
    increment = 1.5
    no_of_employee = 0

    def __init__(self, fname, lname, salary):
        self.fname = fname
        self.lname = lname
        self.salary = salary
        Employee.no_of_employee +=1

    def increase(self):
        self.salary = int(self.salary * self.increment)
    
    @classmethod
    def change_increment(cls,amount):
        cls.increment = amount

In [27]:
salim = Employee("Salim", "Ijaz", 55000)
salim.salary

55000

In [29]:
salim.increase()

In [30]:
salim.salary

82500

In [35]:
salim.increase()
Employee.change_increment(2)
salim.salary

165000

In [36]:
class Employee:
    increment = 1.5
    no_of_employee = 0

    def __init__(self, fname, lname, salary):
        self.fname = fname
        self.lname = lname
        self.salary = salary
        Employee.no_of_employee +=1

    def increase(self):
        self.salary = int(self.salary * self.increment)
    
    @classmethod
    def change_increment(cls,amount):
        cls.increment = amount
    @classmethod
    def from_str(cls,emp_string):
        fname, lname, salary = emp_string.split("-")
        return cls(fname, lname, salary)

In [37]:
ashfaq = Employee.from_str("Ashfaq-Ahmed-100000")

In [41]:
ashfaq.salary

'100000'

In [42]:
class User():    # Class Name
    def User():  # Method name same as class this is also called constructor in previous programming language
        pass

In [58]:
# Constructor in python

class User():
    def __init__ (self):       # we always use __init__ constructor name python
        self.name = None       # attributes1/property/field
        self.fname = None      # attributes2/property/field
        self.password = None   # attributes3/property/field
        self.education = None  # attributes4/property/field
     
    def login(self, user_name, password):  #if we make it outside the class called function otherwise called Method
        if user_name == "admin" and password == "admin123":
            return "Valid User"
        
    def profile_update(self, name, fname, password, education):
        self.name = name
        self.fname = fname
        self.password = password
        self. education = education
    
    def view_profile(self):
        print(self.name, self.fname, self.education)

In [59]:
u1 = User() #u1 is object from class User
u2 = User()
u3 = User()

In [60]:
u1.login("admin","admin123")

'Valid User'

In [61]:
u1.view_profile()
u2.view_profile()
u3.view_profile()

None None None
None None None
None None None

In [62]:
u1.profile_update("Qasim", "Abbas","q12304","Master")
u2.profile_update("Nasir", "Danish","NAHS1223","Phd")

In [63]:
u1.view_profile()
u2.view_profile()
u3.view_profile()

Qasim Abbas Master
Nasir Danish Phd
None None None

In [64]:
u1.name

'Qasim'

# Inheritance

In [65]:
# Single Inheritance

class Parent():
    def __init__(this, name, fname, course):
        this.name = name
        this.fname = fname
        this.course = course

class Child(Parent):    #Inheritance 
    pass

In [66]:
p1 = Parent("Ijaz", "Aslam", "MCS")

In [68]:
c1 = Child()

TypeError: __init__() missing 3 required positional arguments: 'name', 'fname', and 'course'

In [69]:
c1 = Child("Akbar", "Salim", "MS CS")

In [70]:
c1.fname

'Salim'

In [84]:
# Multiple Inheritance

class Dad():
    def __init__(self):
        self.sound = None
        self.walking_style = None
        self.hair_color = "Black" #hair_color 1 

class Mom():
    def __init__(self):
        self.eye_color = None
        self.hair_color = "Brown" #hair_color 2 (Over riding)
        
class Aunty():
    def __init__(self):
        self.hair_color = "Dark Brown" #hair_color 3 (Over riding)

class Child(Dad, Mom, Aunty):
    pass

In [82]:
c1 = Child()

In [85]:
c1.eye_color = "Blue"

In [86]:
c1.eye_color

'Blue'

In [87]:
c1.hair_color

'Black'

In [ ]:
class

In [94]:
#Creating the Dog Class
class Dog():                                                #By convention, capitalized names refer to classes in Python
    """A simple attempt to model a dog."""                  #docstring describing what this class does
    def __init__(self, name, age):
        #attributes
        self.name = name
        self.age = age
        
        #behaviours
    def sit(self):
            print(self.name.title() + " is now sitting" )
    def roll_over(self):
            print(self.name.title() + " rolled over!")

In [95]:
my_dog = Dog("willie",6)

In [96]:
my_dog.age

6

In [97]:
print("My dog's name is " + my_dog.name.title() + ".")
print("My dog is " + str(my_dog.age) + " years old.")

My dog's name is Willie.
My dog is 6 years old.

In [98]:
my_dog.sit()

Willie is now sitting

In [100]:
my_dog.roll_over()

Willie rolled over!

In [104]:
your_dog = Dog("lucy", 3)

print(f"My dog's name is {my_dog.name.title()}.")
print(f"My dog is {my_dog.age} years old.")

My dog's name is Willie.
My dog is 6 years old.

In [139]:
class Patient():
    def __init__(self, last_name, first_name, age):
        self.last_name = last_name
        self.first_name = first_name
        self.age = age
    
    def say_if_minor(self):
        if self.age < 21:
            print(f"{self.first_name} {self.last_name} is a minor")
    def change_last_name(self, new_last_name):
        self.last_name = new_last_name

In [140]:
pid4343 = Patient("Taleb", "Sue", 61)
pid4344 = Patient("Anand", "Punya", 29)
pid4345 = Patient("Oppenheimer", "Douglas", 15)

In [141]:
age_of_patient = pid4343.age

In [142]:
age_of_patient

61

In [143]:
pid4345.say_if_minor()

Douglas Oppenheimer is a minor

In [145]:
pid4344.change_last_name("Ortega")

In [146]:
pid4344.last_name

'Ortega'