# For Loop

In [1]:
print("Nasir")
print("Nasir")
print("Nasir")
print("Nasir")
print("Nasir")
print("Nasir")

Nasir
Nasir
Nasir
Nasir
Nasir
Nasir

In [2]:
for a in range(5):   #10 exlusive
    print(a,"nasir")

0 nasir
1 nasir
2 nasir
3 nasir
4 nasir

In [3]:
print(a)

4

In [4]:
for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [5]:
for number in range(1,10,2):
    print(number)

1
3
5
7
9

In [6]:
for number in range(10,1,-1):
    print(number)

10
9
8
7
6
5
4
3
2

In [7]:
cities = ["Karachi", "Lahore", "Multan"]

In [8]:
cities

['Karachi', 'Lahore', 'Multan']

In [9]:
for city in cities:
    print(f"The city under consideration is {city}")

The city under consideration is Karachi
The city under consideration is Lahore
The city under consideration is Multan

In [10]:
for num in [11, 12, 12, 44, 55]:
    print(num)

11
12
12
44
55

In [11]:
country = "Pakistan"

In [12]:
for char in country:
    print(char)

P
a
k
i
s
t
a
n

In [13]:
for number in range(10):
    if number %3==1:
        break
    print(number)

0

In [14]:
for numbers in range(10):
    if numbers==7 or numbers==4:
        continue
    print(numbers)

0
1
2
3
5
6
8
9

In [15]:
city_to_check = "Faislabad"
cleanest_city = ["Karachi", "Faislabad", "Islamabad", "Lahore", "Multan"]

In [16]:
for a_clean_city in cleanest_city:
    if city_to_check == a_clean_city:
        print("{} is one of the cleanest cities".format(city_to_check))

Faislabad is one of the cleanest cities

In [17]:
for a in range(0,50,5):
    print(a)

0
5
10
15
20
25
30
35
40
45

In [18]:
#Nested Loop
first_name = ["Ali", "Kasim", "Zia", "Jafar"]
last_name = ["Mustafa", "Ibrahim", "Moosa", "Ijaz", "Kazim"]
full_name = []
for a_first_name in first_name:
    for a_last_name in last_name:
        full_name.append(a_first_name + " " + a_last_name)
print(full_name)

['Ali Mustafa', 'Ali Ibrahim', 'Ali Moosa', 'Ali Ijaz', 'Ali Kazim', 'Kasim Mustafa', 'Kasim Ibrahim', 'Kasim Moosa', 'Kasim Ijaz', 'Kasim Kazim', 'Zia Mustafa', 'Zia Ibrahim', 'Zia Moosa', 'Zia Ijaz', 'Zia Kazim', 'Jafar Mustafa', 'Jafar Ibrahim', 'Jafar Moosa', 'Jafar Ijaz', 'Jafar Kazim']

In [19]:
a = 10
b = float(a)
print(b)

10.0

In [20]:
for a in range(5):
    print("Inner loop begins")
    for char in "China":
        print(a, char)

Inner loop begins
0 C
0 h
0 i
0 n
0 a
Inner loop begins
1 C
1 h
1 i
1 n
1 a
Inner loop begins
2 C
2 h
2 i
2 n
2 a
Inner loop begins
3 C
3 h
3 i
3 n
3 a
Inner loop begins
4 C
4 h
4 i
4 n
4 a

In [38]:
table = int(input("Enter Table Number: "))
for a in range(1,10):
    print(table, "*", a, "=" ,table * a)

Enter Table Number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [43]:
table_number = int(input("Enter table number "))
for a in range(1,11):
    print(f"{table_number} * {a} = {table_number * a}")

Enter table number 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [52]:
tables = int(input("Enter tables "))
for table in range (2, tables+1):
    for num in range(1,11):
        print(f"{table} * {num} = {table*num}")

Enter tables 4
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [61]:
#Type Casting
userInput = input("Enter something ")  #input always give string reslult
type(userInput)

Enter something 123

str

In [67]:
#Changing case
name_a = "yOusUf"
print(name_a.lower())
print(name_a.title())
print(name_a.upper())

yousuf
Yousuf
YOUSUF

In [4]:
database = [
    [10120, "Ijaz", "Akbar","A.I" ],
    [10121, "Habib", "Omer","CNC" ],
    [10122, "Aman", "Aslam","IOT" ]
]
for r in database:
    card = '''
    PIAIC STUDENT CARD
    Roll No: {0}
    Name: {1}
    Father's Name: {2}
    Course: {3}
    '''.format(r[0],r[1],r[2],r[3])
    print(card)

    PIAIC STUDENT CARD
    Roll No: 10120
    Name: Ijaz
    Father's Name: Akbar
    Course: A.I


    PIAIC STUDENT CARD
    Roll No: 10121
    Name: Habib
    Father's Name: Omer
    Course: CNC


    PIAIC STUDENT CARD
    Roll No: 10122
    Name: Aman
    Father's Name: Aslam
    Course: IOT

# Dictionary

In [70]:
customer = {
    "first name": "Ali",
    # key         Value
    "last name": "Akbar",
    "address": "Silicon Valley, California"
}
print(customer["address"])

Silicon Valley, California

In [1]:
customer_299182 = {
    "first_name": "Ijaz",
    "last_name": "Aslma",
    "address": "Hyderabad",
    "province": "Sindh",
    "country": "Pakistan",
    "postal_code": 12412
}

In [4]:
print(customer_299182["address"])

Hyderabad

In [5]:
customer_299182["contact_num"] = 1532513

In [6]:
customer_299182

{'first_name': 'Ijaz',
 'last_name': 'Aslma',
 'address': 'Hyderabad',
 'province': 'Sindh',
 'country': 'Pakistan',
 'postal_code': 12412,
 'contact_num': 1532513}

In [7]:
del customer_299182["address"]

In [8]:
customer_299182

{'first_name': 'Ijaz',
 'last_name': 'Aslma',
 'province': 'Sindh',
 'country': 'Pakistan',
 'postal_code': 12412,
 'contact_num': 1532513}

In [9]:
customer_299182["province"] = "Punjab"

In [10]:
customer_299182

{'first_name': 'Ijaz',
 'last_name': 'Aslma',
 'province': 'Punjab',
 'country': 'Pakistan',
 'postal_code': 12412,
 'contact_num': 1532513}

In [15]:
for each_value in customer_299182.values():
    print(each_value)

Ijaz
Aslma
Punjab
Pakistan
12412
1532513

In [16]:
for each_key in customer_299182.keys():
    print(each_key)

first_name
last_name
province
country
postal_code
contact_num

In [17]:
customer_299182

{'first_name': 'Ijaz',
 'last_name': 'Aslma',
 'province': 'Punjab',
 'country': 'Pakistan',
 'postal_code': 12412,
 'contact_num': 1532513}

In [22]:
for ech_key, ech_value in customer_299182.items():
    print(f"The customer's {ech_key} is {ech_value}")

The customer's first_name is Ijaz
The customer's last_name is Aslma
The customer's province is Punjab
The customer's country is Pakistan
The customer's postal_code is 12412
The customer's contact_num is 1532513

In [23]:
ech_key

'contact_num'

In [24]:
ech_value

1532513

In [26]:
customers = [
    {
        "customer_id": 1,
        "first_name": "Ibrahim",
        "last_name": "Moosa",
        "city": "Karachi",
    },
    {
        "customer_id": 2,
        "first_name": "Aziz",
        "last_name": "Aslam",
        "city": "Faisalabad",
    },
    {
        "customer_id": 3,
        "first_name": "Amber",
        "last_name": "Qasim",
        "city": "Quetta",
    }
]

In [27]:
customers

[{'customer_id': 1,
  'first_name': 'Ibrahim',
  'last_name': 'Moosa',
  'city': 'Karachi'},
 {'customer_id': 2,
  'first_name': 'Aziz',
  'last_name': 'Aslam',
  'city': 'Faisalabad'},
 {'customer_id': 3,
  'first_name': 'Amber',
  'last_name': 'Qasim',
  'city': 'Quetta'}]

In [28]:
customers[0]

{'customer_id': 1,
 'first_name': 'Ibrahim',
 'last_name': 'Moosa',
 'city': 'Karachi'}

In [29]:
len(customers)

3

In [30]:
new_customer_id = len(customers)

In [31]:
customers

[{'customer_id': 1,
  'first_name': 'Ibrahim',
  'last_name': 'Moosa',
  'city': 'Karachi'},
 {'customer_id': 2,
  'first_name': 'Aziz',
  'last_name': 'Aslam',
  'city': 'Faisalabad'},
 {'customer_id': 3,
  'first_name': 'Amber',
  'last_name': 'Qasim',
  'city': 'Quetta'}]

In [32]:
customers = {
    "abc":{
        "customer_id": 1,
        "first_name": "Ibrahim",
        "last_name": "Moosa",
        "city": "Karachi",
    },
    "efg":{
        "customer_id": 2,
        "first_name": "Aziz",
        "last_name": "Aslam",
        "city": "Faisalabad",
    },
    "xyz":{
        "customer_id": 3,
        "first_name": "Amber",
        "last_name": "Qasim",
        "city": "Quetta",
    }
}

In [40]:
print(customers[2]["city"])

Faisalabad

In [41]:
customers[2]["city"] = "Lahore"

In [42]:
customers[2]["city"]

'Lahore'

In [43]:
customers

{1: {'customer_id': 1,
  'first_name': 'Ibrahim',
  'last_name': 'Moosa',
  'city': 'Karachi'},
 2: {'customer_id': 2,
  'first_name': 'Aziz',
  'last_name': 'Aslam',
  'city': 'Lahore'},
 3: {'customer_id': 3,
  'first_name': 'Amber',
  'last_name': 'Qasim',
  'city': 'Quetta'}}

In [48]:
print(type(customers[2]["customer_id"]))

<class 'int'>

In [49]:
len(customers)

3

In [50]:
customers[2]["email"] = "abc@gmail.com"

In [51]:
customers

{1: {'customer_id': 1,
  'first_name': 'Ibrahim',
  'last_name': 'Moosa',
  'city': 'Karachi'},
 2: {'customer_id': 2,
  'first_name': 'Aziz',
  'last_name': 'Aslam',
  'city': 'Lahore',
  'email': 'abc@gmail.com'},
 3: {'customer_id': 3,
  'first_name': 'Amber',
  'last_name': 'Qasim',
  'city': 'Quetta'}}

In [52]:
customers[3]

{'customer_id': 3,
 'first_name': 'Amber',
 'last_name': 'Qasim',
 'city': 'Quetta'}

In [53]:
customer_3 = customers[3]

In [54]:
customer_3

{'customer_id': 3,
 'first_name': 'Amber',
 'last_name': 'Qasim',
 'city': 'Quetta'}

In [56]:
print(customer_3["first_name"])

Amber

In [57]:
customer_3["email"] = "amqs@gmail.com"
customer_3

{'customer_id': 3,
 'first_name': 'Amber',
 'last_name': 'Qasim',
 'city': 'Quetta',
 'email': 'amqs@gmail.com'}

In [58]:
customer_3["class"] = "AI "

In [59]:
customer_3

{'customer_id': 3,
 'first_name': 'Amber',
 'last_name': 'Qasim',
 'city': 'Quetta',
 'email': 'amqs@gmail.com',
 'class': 'AI '}

In [60]:
customer_3["class"] = "Cloud Native Computing"

In [61]:
customer_3

{'customer_id': 3,
 'first_name': 'Amber',
 'last_name': 'Qasim',
 'city': 'Quetta',
 'email': 'amqs@gmail.com',
 'class': 'Cloud Native Computing'}

In [62]:
customer_3["batch"] = 23

In [63]:
customer_3

{'customer_id': 3,
 'first_name': 'Amber',
 'last_name': 'Qasim',
 'city': 'Quetta',
 'email': 'amqs@gmail.com',
 'class': 'Cloud Native Computing',
 'batch': 23}

In [67]:
print(customer_3)

{'customer_id': 3, 'first_name': 'Amber', 'last_name': 'Qasim', 'city': 'Quetta', 'class': 'Cloud Native Computing', 'batch': 23}

In [69]:
"first_name" in customer_3

True

In [71]:
customer_4 = customer_299182

In [72]:
customer_299182

{'first_name': 'Ijaz',
 'last_name': 'Aslma',
 'province': 'Punjab',
 'country': 'Pakistan',
 'postal_code': 12412,
 'contact_num': 1532513}

In [75]:
for each_val in customer_4.values():
    print(each_val)

Ijaz
Aslma
Punjab
Pakistan
12412
1532513

In [76]:
for each_key in customer_4.keys():
    print(each_key)

first_name
last_name
province
country
postal_code
contact_num

In [77]:
for each_val, each_key in customer_4.items():
    print(each_val, each_key)

first_name Ijaz
last_name Aslma
province Punjab
country Pakistan
postal_code 12412
contact_num 1532513

In [78]:
students = []

In [80]:
students.append({"name": "Ali", "rollNo": 213143, "courseBatch": "AIC 43" })

In [81]:
students.append({"name": "Qasim", "rollNo": 123143, "courseBatch": "AIC 43" })

In [82]:
students.append({"name": "Ahtisham", "rollNo": 315624, "courseBatch": "CNC 43" })

In [83]:
students

[{'name': 'Ali', 'rollNo': 213143, 'courseBatch': 'AIC 43'},
 {'name': 'Qasim', 'rollNo': 123143, 'courseBatch': 'AIC 43'},
 {'name': 'Ahtisham', 'rollNo': 315624, 'courseBatch': 'CNC 43'}]

In [85]:
students[0]["rollNo"]

213143

In [86]:
students[0]["rollNo"] = 123465

In [87]:
students

[{'name': 'Ali', 'rollNo': 123465, 'courseBatch': 'AIC 43'},
 {'name': 'Qasim', 'rollNo': 123143, 'courseBatch': 'AIC 43'},
 {'name': 'Ahtisham', 'rollNo': 315624, 'courseBatch': 'CNC 43'}]

In [89]:
myDic312 = {
    "name": "Saleem",
    "childrenNames": ["Ahad", "Sara", "Sidra", "Majeed"]
}

In [90]:
myDic312

{'name': 'Saleem', 'childrenNames': ['Ahad', 'Sara', 'Sidra', 'Majeed']}

In [92]:
print(myDic312["childrenNames"][2])

Sidra

In [94]:
myDic312["Age"] = 40

In [95]:
myDic312

{'name': 'Saleem',
 'childrenNames': ['Ahad', 'Sara', 'Sidra', 'Majeed'],
 'Age': 40}

In [97]:
myDic312["childrenNames"][2] = "Ijaz"
myDic312

{'name': 'Saleem',
 'childrenNames': ['Ahad', 'Sara', 'Ijaz', 'Majeed'],
 'Age': 40}

In [107]:
myDic312["childrenNames"][2] = ["Sidra", "Yasir"]
myDic312

{'name': 'Saleem',
 'childrenNames': ['Ahad', 'Sara', ['Sidra', 'Yasir']],
 'Age': 40}

In [111]:
myDic312["childrenNames"][2] = "Samrah"

In [112]:
myDic312

{'name': 'Saleem', 'childrenNames': ['Ahad', 'Sara', 'Samrah'], 'Age': 40}

In [117]:
questions123 = [
    {
        "S.No": 1,
        "question": "What is your country name",
        "option": ["Pakistan", "USA", "UAE", "America"],
        "answer": "Pakistan"
    },
    {
        "S.No": 2,
        "question": "What is your country name",
        "option": ["Pakistan", "USA", "UAE", "America"],
        "answer": "Pakistan"
    },
    {
        "S.No": 3,
        "question": "What is your country name",
        "option": ["Pakistan", "USA", "UAE", "America"],
        "answer": "Pakistan"
    }
]

In [114]:
questions123

[{'S.No': 1,
  'option': 'What is your country name',
  'question': ['Pakistan', 'USA', 'UAE', 'America'],
  'answer': 'Pakistan'},
 {'S.No': 2,
  'option': 'What is your country name',
  'question': ['Pakistan', 'USA', 'UAE', 'America'],
  'answer': 'Pakistan'},
 {'S.No': 3,
  'option': 'What is your country name',
  'question': ['Pakistan', 'USA', 'UAE', 'America'],
  'answer': 'Pakistan'}]

In [118]:
print(questions123[0]["question"])

What is your country name

In [119]:
len(questions123)

3

In [123]:
new_question = {
    'S.No': 4,
    'question': 'What is your country name',
    'option': ['Pakistan', 'USA', 'UAE', 'America'],
    'answer': 'Pakistan'
}

In [121]:
questions123.append(new_question)

In [124]:
questions123

[{'S.No': 1,
  'question': 'What is your country name',
  'option': ['Pakistan', 'USA', 'UAE', 'America'],
  'answer': 'Pakistan'},
 {'S.No': 2,
  'question': 'What is your country name',
  'option': ['Pakistan', 'USA', 'UAE', 'America'],
  'answer': 'Pakistan'},
 {'S.No': 3,
  'question': 'What is your country name',
  'option': ['Pakistan', 'USA', 'UAE', 'America'],
  'answer': 'Pakistan'},
 {'S.No': 4,
  'option': 'What is your country name',
  'question': ['Pakistan', 'USA', 'UAE', 'America'],
  'answer': 'Pakistan'}]

In [127]:
print(questions123[3]["question"][3])

America

In [128]:
customers

{1: {'customer_id': 1,
  'first_name': 'Ibrahim',
  'last_name': 'Moosa',
  'city': 'Karachi'},
 2: {'customer_id': 2,
  'first_name': 'Aziz',
  'last_name': 'Aslam',
  'city': 'Lahore',
  'email': 'abc@gmail.com'},
 3: {'customer_id': 3,
  'first_name': 'Amber',
  'last_name': 'Qasim',
  'city': 'Quetta',
  'class': 'Cloud Native Computing',
  'batch': 23}}

In [131]:
print(customers[2]["first_name"])

Aziz

In [2]:
dic2 = {}
while True:
    k = input("Enter Key ")
    v = input("Enter Value ")
    if k == "no" or v == "no":
        break
    dic2[k] = v

Enter Key Name
Enter Value Yousuf
Enter Key Father Name
Enter Value M Hanif
Enter Key Course
Enter Value AI
Enter Key no
Enter Value no

In [3]:
dic2

{'Name': 'Yousuf', 'Father Name': 'M Hanif', 'Course': 'AI'}

In [9]:
dic2.pop("Course")

'AI'

In [10]:
dic2

{'Name': 'Yousuf', 'Father Name': 'M Hanif'}