# Functions

In [1]:
def add():           #parameter less function
    num1 = int(input("Enter a value "))
    num2 = int(input("Enter another value "))
    print(num1 + num2)

In [2]:
add()

Enter a value 2
Enter another value 3
5

In [3]:
def add(number1, number2):         #number1 & number2 are parameters
    print(number1 + number2)

In [4]:
add(5,5)          #3 & % are values (arguments)

10

In [5]:
def add(a,b):              #parameterised fucntion
    print(a+b)

In [6]:
add(10,4)              #arguments

14

In [7]:
add(100,45)

145

In [8]:
add(int(input("Enter a value ")),100)

Enter a value 3
103

In [9]:
add(b = 3, a = 2)

5

In [10]:
def fullName(first, middle, last):
    print(first + middle + last)

In [11]:
fullName("ali", "hussain", "khan")

alihussainkhan

In [12]:
#Sequenece matter in positional arguments

In [13]:
#key work argument

In [14]:
fullName(middle="hussain", last="ali", first="habib")

habibhussainali

In [15]:
def fullName(first, last, middle=" "):
    print(first + middle + last)

In [16]:
fullName("Hussain", "Ismail")

Hussain Ismail

In [17]:
def pizzaOrder(size, flavour, *toppings):              # "*" deal with arbitary arguments
    print(f" Your order for pizza of size {size}, flavour {flavour} and toppings {toppings} is ready")

In [18]:
pizzaOrder(12,"chicken tikka", "olives", "fruits")

 Your order for pizza of size 12, flavour chicken tikka and toppings ('olives', 'fruits') is ready

In [19]:
def add (val1, val2):
    ans = val1 + val2
    
    return ans

In [20]:
result = add(1,4)

In [21]:
print(result)

5

In [22]:
def add(a,b):
    return a + b
def sub(c,d):
    return c - d

In [23]:
result = add(2,3) + sub(4,5)

In [24]:
result

4

In [4]:
def beHappy():
    name = "Mr. A"                          #name is a local variable
    print(f"{name} is very happy today")

In [5]:
beHappy()

Mr. A is very happy today

In [6]:
print(name)         #local variable accesable only in function

NameError: name 'name' is not defined

In [2]:
anotherName = "Mr. B"            #Global variable
def sad():
    print(f"{anotherName} is very happy today")

In [3]:
sad()

Mr. B is very happy today

In [ ]:
anotherName

In [29]:
def commissionCalc(sales):
    if sales>100:
        return sales*100
    elif sales> 50:
        return sales*50
    elif sales>20:
        return sales*20
    else:
        return 0 

def salaryCalc(basic,sales):
    grossSalary = basic + commissionCalc(sales)
    print(f" Your Gross Salary is {grossSalary}")

In [32]:
 salaryCalc(50000,150)

 Your Gross Salary is 65000

In [33]:
#to check methods:

#variableName. (.then press tab)
# dir(variableName)

#TO help
# variableName?, variableName??, help(variableName), ?variableName

In [35]:
# Function
 #Return--->>> we can assign value to any other variable
 #Non-Return--->> we can't assign value to any other variable

In [38]:
#Any Object depend on two things:
 #1. Method -->> Perform any functi               ------>> variableName.method()  "()"
 #2. Attribute / property / field --->> have some value    -------->> variableName.attributeName

In [1]:
#Topics:
#      function
#          1.function declaration
#          2.function body
#          3.function calling
    
#      pre define fucntion
#         return function
#         Non return function
#             default function
#             required arguments
#               1.positional arguments
#               2.keyword arguments
#             optional arguments
        
#      user define function
#         Same as above

# why we need of function in programing

In [2]:
#Example
print("Pakistan Zindabad")
print("We are Pakistani")
print("We love our country")
print("We ar proud nation")

Pakistan Zindabad
We are Pakistani
We love our country
We ar proud nation

# Now Create Function

In [9]:
#
a = print("Pakistan") #non return function
print(a)

b = input("Enter any value") #return function
print(b)

Pakistan
None
Enter any value13
13

In [5]:
#Default function
def abc(): #function declaration
    print("Pakistan Zindabad")       #function body
    print("We are Pakistani")
    print("We love our country")
    print("We ar proud nation")
          
abc()     #function call

Pakistan Zindabad
We are Pakistani
We love our country
We ar proud nation

In [11]:
#Required arguments
def add_two_num(n1,n2):
    return n1 + n2

a = add_two_num(2,3)
print(a)

5

In [14]:
add_two_num(23,45)

68

In [16]:
#Key word Argument
def subtract_n1_n2(n1,n2):
    return n1 - n2

print(subtract_n1_n2(2,1))            #Positional Argument
print(subtract_n1_n2(n2=4,n1=6))      #Keyword Argument

1
2

In [22]:

def card(id,name,fname,course):
    return '''
    PIAIC STUDENT CARD
    Student ID: {}
    Name: {}
    Father's Name: {}
    Course: {}
    '''.format(id,name,fname,course)

print(card(23415, "M Yousuf", "Hanif", "AI"))
print(card(fname="Hanif",id=23415,name="Hunaid",course="CNC"))

    PIAIC STUDENT CARD
    Student ID: 23415
    Name: M Yousuf
    Father's Name: Hanif
    Course: AI


    PIAIC STUDENT CARD
    Student ID: 23415
    Name: Hunaid
    Father's Name: Hanif
    Course: CNC

In [23]:
#Passing positional argument with list

def card(id,name,fname,course):
    return '''
    PIAIC STUDENT CARD
    Student ID: {}
    Name: {}
    Father's Name: {}
    Course: {}
    '''.format(id,name,fname,course)

In [27]:
l1 = [0, "Asif", "Abid Khan", "AI"]
print(card(l1[0],l1[1],l1[2],l1[3]))     #1st method
print(card(*l1))

    PIAIC STUDENT CARD
    Student ID: 0
    Name: Asif
    Father's Name: Abid Khan
    Course: AI


    PIAIC STUDENT CARD
    Student ID: 0
    Name: Asif
    Father's Name: Abid Khan
    Course: AI

In [36]:
#Passing keyword argument with dictionary

def card(id,name,fname,course):
    return f'''
    PIAIC STUDENT CARD
    Student ID: {id}
    Name: {name}
    Father's Name: {fname}
    Course: {course}
    '''

In [35]:
dic = {"name": "Qasim",
      "fname": "Aslam",
       "course": "AI",
       "id": 124512
      }

print(card(**dic))

    PIAIC STUDENT CARD
    Student ID: 124512
    Name: Qasim
    Father's Name: Aslam
    Course: AI

# set default arguments values

In [40]:
def xyz_add(x,y,z=0):  #z=0 default argument value
    print(x,y,z)
    return x+y+z

xyz_add(1,2)

1 2 0

3

In [42]:
xyz_add(12,12,12)

12 12 12

36

In [44]:
xyz_add(1,4)
xyz_add(1,3,45)

1 4 0
1 3 45

49

# Create function with unlimited parameters

In [45]:
def add_nums(n1,*ls):
    return n1 + sum(ls)

In [46]:
add_nums(1,2)

3

In [47]:
add_nums(1,2,4,5,21)

33

# Create function with unlimited parameters (keyword)

In [55]:
def add_keyNums(n1,**ds):
    lst = []
    lst.append(n1)
    print(ds)
    for k, v in ds.items():
        lst.append(ds[k])
    return sum(lst)

In [56]:
add_keyNums(n1=2,n2=4,n4=5)

{'n2': 4, 'n4': 5}

11

In [59]:
def abc1(*l,n1,**d):
    return n1 + sum(l) + sum([v for k,v in d.items()])
abc1(1,2,4,5,n1=2,a=2,b=3)

19


# Lambda Function

*  One line function
*  Anonymous function
*  Never use before and after

In [63]:
# def fname(p1,p2,p3,....):
#     fbody

# lambda p1,p2,p3: body 

abc = lambda x1,x2,x3: x1+x2+x3
abc(1,3,4)

8

In [78]:
dic1 = {
    "a" : 12,
    "b" : 23,
    "d" : 15,
    "c" : 14,
}

{k:v for k,v in sorted(dic1.items(), key = lambda x:x[1])}

{'a': 12, 'c': 14, 'd': 15, 'b': 23}

In [79]:
sorted(dic1.items())

[('a', 12), ('b', 23), ('c', 14), ('d', 15)]

# Comprehensive style

If Comprehensive

In [81]:
 #Normal style to write code

# if logic:
#     logic True Block
# else:
#     logic False Block

In [83]:
# Comprehensive style
# logic True Block if logice else Logic False Block

In [84]:
if True:
    print("True Block")
else:
    print("False Block")

True Block

In [85]:
print("True Block") if True else print("False Block")

True Block

List Comprehensive

In [86]:
l = [1,4,5,6,6]
for i in l:
    print(i+2)

3
6
7
8
8

In [91]:
l = [1,4,5,6,6]
[i+2 for i in l]

[3, 6, 7, 8, 8]

Dictionary Comprehensive

In [109]:
dic2 = {
    "a" : 2,
    "b" : 4,
    "e" : 3
}
for v in dic2.values():
    print(v+2)

4
6
5

In [110]:
{v+2 for v in dic2.values()}

{4, 5, 6}

# Recursive Function

In [111]:
#!5
1*2*3*4*5

120

In [113]:
def abc(x):
    a = 1
    for i in range(1,x+1):
        a = a * i
    return a
        
abc(5)

120

In [120]:
def abc1(x):
    if x==0:
        return 1
    return abc1(x-1)*x
abc(5)

120