In [1]:
#List

alist = ["nasir", "ali", "faisal", "kazim"]
#Index      0       1       2         3

In [2]:
alist

['nasir', 'ali', 'faisal', 'kazim']

In [3]:
alist

['nasir', 'ali', 'faisal', 'kazim']

In [4]:
city1 = "Karachi"
city2 = "Lahore"
city3 = "Islamabad"
city4 = "Quetta"

cities = ["Karachi", "Lahore", "Islamamad", "Quetta", "Faisalabad"]

In [5]:
cities

['Karachi', 'Lahore', 'Islamamad', 'Quetta', 'Faisalabad']

In [6]:
#how to access members

alist[1]

'ali'

In [7]:
cities[3]

'Quetta'

In [11]:
fruits=[]

In [12]:
len(fruits)

0

In [13]:
len(cities)

5

In [14]:
len(alist)

4

In [15]:
#adding a memeber to the list (append & insert)

fruits.append("apples")            #append by default add items at the end of list
                                   #append only add one items

In [16]:
fruits

['apples']

In [17]:
fruits.append("orange")

In [18]:
fruits

['apples', 'orange']

In [19]:
fruits.insert(3,"mango")           #through insert add items where u want to add in the list 
                                   #insert also only add one items

In [20]:
fruits

['apples', 'orange', 'mango']

In [22]:
fruits.extend(["banana", "orange", "strawberry","cherry"]) #Through extend one or more value add in list
fruits

['apples',
 'orange',
 'mango',
 'banana',
 'orange',
 'strawberry',
 'cherry',
 'banana',
 'orange',
 'strawberry',
 'cherry']

In [23]:
fruits.count("orange")

3

In [24]:
fruits.index("orange")

1

In [25]:
fruits.clear()

In [26]:
fruits

[]

In [30]:
fruits.extend(['apples','orange','mango','banana','orange','strawberry','cherry'])

In [31]:
fruits

['apples', 'orange', 'mango', 'banana', 'orange', 'strawberry', 'cherry']

In [32]:
fruits2 = fruits.copy() #by value copy

In [33]:
fruits

['apples', 'orange', 'mango', 'banana', 'orange', 'strawberry', 'cherry']

In [34]:
fruits2

['apples', 'orange', 'mango', 'banana', 'orange', 'strawberry', 'cherry']

In [35]:
fruits3 = fruits # by reference

In [36]:
fruits3

['apples', 'orange', 'mango', 'banana', 'orange', 'strawberry', 'cherry']

In [37]:
fruits.append("Peach")

In [38]:
fruits

['apples',
 'orange',
 'mango',
 'banana',
 'orange',
 'strawberry',
 'cherry',
 'Peach']

In [39]:
fruits3  #by reference

['apples',
 'orange',
 'mango',
 'banana',
 'orange',
 'strawberry',
 'cherry',
 'Peach']

In [40]:
fruits2  # new fruits not shown in fruits2 because of copy

['apples', 'orange', 'mango', 'banana', 'orange', 'strawberry', 'cherry']

In [41]:
#Removing items from a list  (del, remove, pop)
   
del fruits2[1]       #orange remove from fruits2

In [42]:
fruits2

['apples', 'mango', 'banana', 'orange', 'strawberry', 'cherry']

In [44]:
fruits2.remove("orange")

In [45]:
fruits2

['apples', 'mango', 'banana', 'strawberry', 'cherry']

In [46]:
fruits.pop()

'Peach'

In [51]:
cities

['Karachi', 'Lahore', 'Islamamad']

In [57]:
cities_poped = cities.pop()  #through pop remove & added into new variable
print(f"This city is popped from list {cities_poped}")
print(f"The remaining cities {cities}")

IndexError: pop from empty list

In [54]:
cities_poped

'Islamamad'

In [58]:
cities = ['Karachi', 'Lahore', 'Islamamad']

In [64]:
cities

['Karachi']

In [67]:
cities.extend(["Multan", "Lahore", "Faislabad", "Sialkot"])
cities

['Karachi', 'Multan', 'Lahore', 'Faislabad', 'Sialkot']

In [68]:
cities.sort()  #by defaul sort by alphabaticaly

In [69]:
cities

['Faislabad', 'Karachi', 'Lahore', 'Multan', 'Sialkot']

In [70]:
cities.sort(reverse=True)

In [71]:
cities

['Sialkot', 'Multan', 'Lahore', 'Karachi', 'Faislabad']

In [73]:
cities.reverse()

In [77]:
cities

['Faislabad', 'Karachi', 'Lahore', 'Multan', 'Sialkot']

In [76]:
len(cities)

5

In [80]:
cities

['Faislabad', 'Karachi', 'Lahore', 'Multan', 'Sialkot']

In [82]:
print(cities[2])

Lahore

In [84]:
cities.append("Islamabad")

In [85]:
print(cities)

['Faislabad', 'Karachi', 'Lahore', 'Multan', 'Sialkot', 'Islamabad']

In [88]:
cities.insert(2,"Peshawar")

In [89]:
cities

['Faislabad',
 'Karachi',
 'Peshawar',
 'Lahore',
 'Multan',
 'Sialkot',
 'Islamabad']

In [90]:
del cities[2]

In [91]:
cities

['Faislabad', 'Karachi', 'Lahore', 'Multan', 'Sialkot', 'Islamabad']

In [93]:
cities.remove("Karachi")

In [94]:
cities

['Faislabad', 'Lahore', 'Multan', 'Sialkot', 'Islamabad']

In [99]:
cities

['Faislabad', 'Lahore', 'Multan', 'Sialkot', 'Islamabad']

In [101]:
cities.index("Lahore") #for find

1

In [102]:
"Lahore" in cities #for find

True

In [103]:
"Karachi" in cities

False

In [104]:
cities

['Faislabad', 'Lahore', 'Multan', 'Sialkot', 'Islamabad']

In [107]:
cities.extend(["Karachi", "Peshawar", "Hyderabad"])

In [108]:
cities

['Faislabad',
 'Lahore',
 'Multan',
 'Sialkot',
 'Islamabad',
 'Karachi',
 'Karachi',
 'Peshawar',
 'Hyderabad']

In [109]:
print(cities[1:3])    #star index (1) inclusive & stop (3) exlusive

['Lahore', 'Multan']

In [110]:
print(cities[2:4])

['Multan', 'Sialkot']

In [112]:
#Index       -7       -6       -5        -4         -3        -2         -1
students = ["Ali", "Fatima", "Kashif", "Saleem", "Abdullah", "Saif", "Ibrahim"]
#Index       0       1          2         3          4         5        6

['Ali', 'Fatima', 'Kashif', 'Saleem', 'Abdullah', 'Saif', 'Ibrahim']

In [113]:
students[4]

'Abdullah'

In [114]:
print(students[0])
print(students[-7])

Ali
Ali

In [116]:
students[2:4]             #Start:End   (End not include)

['Kashif', 'Saleem']

In [117]:
students[-6:-4]

['Fatima', 'Kashif']

In [118]:
students[3:]

['Saleem', 'Abdullah', 'Saif', 'Ibrahim']

In [119]:
students[ : 4]

['Ali', 'Fatima', 'Kashif', 'Saleem']

In [120]:
 students[4:-1]

['Abdullah', 'Saif']

In [127]:
nums = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [124]:
nums [0:18:1] #step wise

[1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [128]:
nums [0:18:2]

[1, 3, 5, 7, 9, 11, 13, 15, 17]

In [129]:
nums [::4]

[1, 5, 9, 13, 17]

In [131]:
del nums[3]

In [132]:
nums

[1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [133]:
del nums[2:4]

In [134]:
nums

[1, 2, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [135]:
nums.remove(6)

In [136]:
nums

[1, 2, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [137]:
nums.pop()

19

In [138]:
nums

[1, 2, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [142]:
nums.pop(1)

2

In [143]:
nums

[1, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

# Tuples       (Not changebale, Immutable)

In [144]:
atupple = ("salim", 214, "nasir" )

In [145]:
len(atupple)

3

In [147]:
del atupple(2)

SyntaxError: can't delete function call (<ipython-input-147-7d05c1723d9c>, line 1)

In [148]:
atupple[2]

'nasir'

In [3]:
a = 1, "haseeb", "imran"

In [4]:
a

(1, 'haseeb', 'imran')

In [5]:
a.index("haseeb")

1

In [6]:
a.count("haseeb")

1